.survey {
    background-image: url(https://res.cloudinary.com/practicaldev/image/fetch/s--BuPz-p40--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/nphrgz8yfnjylrwfr0yl.png);
    height: 50vh;
    margin-bottom: 2em;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.survey h2 {
    margin-right: 3em;
}